@model SchoolSystem.ViewModels.ProfileVM

@{
    ViewData["Title"] = "Your Profile";
}
<!--Using _AdminLayout-->
@{
    var isAdminOrStaff = User.IsInRole("Admin") || User.IsInRole("Staff");

    if (isAdminOrStaff)
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_HomeLayout.cshtml";
    }
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
<h2>Your Profile</h2>


<form asp-action="UpdateProfileImage" method="post" enctype="multipart/form-data">
    <input type="hidden" name="userId" value="@Model.Id" />
    <div class="form-group">
        <label for="ProfileImage">Update Profile Image</label>
        <input type="file" name="ProfileImage" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Update Image</button>
</form>



<div>
@*     <img src="@Model.Image" alt="Profile Image" style="width: 150px; height: 150px; border-radius: 50%;" /> *@
    @if (!string.IsNullOrEmpty(Model.Image))
    {
        <img src="@Model.Image" alt="User Image" style="width: 150px; height: 150px; border-radius: 50%;" />
    }
    else
    {
        @* <img src="/uploads/default-profile.png" alt="Default Image" width="50" height="50" class="rounded-circle" /> *@
        <img src="/uploads/default-profile.png?v=@DateTime.Now.Ticks"
             alt="Default Image" style="width: 150px; height: 150px; border-radius: 50%;" />
    }
</div>

<table class="table">
    <tr><th>Name:</th><td>@Model.Name</td></tr>
    <tr><th>Code:</th><td>@Model.Code</td></tr>
    <tr><th>Email:</th><td>@Model.Email</td></tr>
    <tr><th>Address:</th><td>@Model.Address</td></tr>
    <tr><th>Gender:</th><td>@Model.Gender</td></tr>
</table>

<a asp-action="ChangePassword" class="btn btn-primary">Change Password</a>
