@model SchoolSystem.ViewModels.GroupIndexVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group.CreatedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group.CreatedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.ExpiredTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.ExpiredTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.IsValid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.IsValid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Group.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
