@model IEnumerable<SchoolSystem.ViewModels.GroupIndexVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Group.Id)
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Teacher.Name) *@
                Tutor name
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Student.Name) *@
                Student name
            </th>
            <th>
                Is valid
            </th>
        </tr>
    </thead>
    <tbody>
@if(Model != null)
{
    foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Name)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.Group.IsValid)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Group.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Group.Id">Details</a> |
                    @* <a asp-action="Delete" asp-route-id="@item.Group.Id">Delete</a> *@
                </td>
            </tr>
    }
}

    </tbody>
</table>
