@model SchoolSystem.ViewModels.StudentDashboardVM

<h2>Student Dashboard</h2>

<h3>Welcome, @Model.StudentName</h3>

<h4>Personal Tutor: @Model.PersonalTutor</h4>

<h4>Tutor Blogs</h4>
<ul>
    @foreach (var blog in Model.TutorBlogs)
    {
        <li>
            <h5>You have received a new blog</h5>
            <p><small>Posted on @blog.TimeStamp.ToString("g") by @blog.User.Name</small></p>
        </li>
    }
</ul>

<h4>Student Blogs</h4>
<ul>
    @foreach (var blog in Model.StudentBlogs)
    {
        <li>
            <h5>You have received a new blog</h5>
            <p><small>Posted on @blog.TimeStamp</small></p>
        </li>
    }
</ul>

<h4>Recent Comments</h4>
<ul>
    @foreach (var comment in Model.RecentComments)
    {
        <li>@comment</li>
    }
</ul>

<h4>Recent Messages</h4>
<ul>
    @foreach (var message in Model.RecentMessages)
    {
        <li>@message.TextContent</li>
    }
</ul>

<h4>Groups</h4>
<ul>
    @foreach (var group in Model.Groups)
    {
        <li>
            <h5>You have been assigned to a new group</h5>
            <p><small>Group ID: @group.Id</small></p>
        </li>
    }
</ul>

<h4>Recent Files</h4>
<ul>
    @foreach (var file in Model.RecentFiles)
    {
        <li>@file.FileContent</li>
    }
</ul>