@model SchoolSystem.ViewModels.StudentDashboardVM

<h2>Student Dashboard</h2>

<h3>Welcome, @Model.StudentName</h3>
<p>Student Name: @Model.StudentName</p>
<p>Personal Tutor: @Model.PersonalTutor</p>

<h4>Personal Tutor: @Model.PersonalTutor</h4>

<h4>Tutor Blogs</h4>
<ul>
    @foreach (var blog in Model.TutorBlogs)
    {
        <li>
            <h5>@blog.Title</h5>
            <p><small>Posted on @blog.TimeStamp.ToString("g") by @blog.User.Name</small></p>
        </li>
    }
</ul>

<h4>Student Blogs</h4>
<ul>
    @foreach (var blog in Model.StudentBlogs)
    {
        <li>
            <h5>@blog.Title</h5>
            <p><small>Posted on @blog.TimeStamp</small></p>
        </li>
    }
</ul>

<h4>Recent Blog Comments</h4>
<ul>
    @foreach (var comment in Model.BlogComments)
    {
        <li>@comment</li>
    }
</ul>

<h4>Recent Messages</h4>
<ul>
    @foreach (var message in Model.RecentMessages)
    {
        <li>@message.TextContent</li>
    }
</ul>

<h4>Groups</h4>
<ul>
    @foreach (var group in Model.Groups)
    {
        <li>
            <h5>Group ID: @group.Id</h5>
        </li>
    }
</ul>

<h4>Documents</h4>
<ul>
    @foreach (var document in Model.Documents)
    {
        <li>
            <h5>@document.Title</h5>
            <p><small>Uploaded on @document.UploadDate.ToString("g")</small></p>
        </li>
    }
</ul>