@{
    Layout = "~/Views/Shared/_ChatLayout.cshtml";
}

<div class="layout">
    <h2 class="heading-text">Dashboard</h2>
</div>

<div class="dashboard-container">
    <div class="student-bio">
        <div class="student-info">
            <div class="student-name">
                <p class="text-dashboard">Welcome, @Model.StudentName</p>
            </div>
            <div class="tutor">
                <p class="text-dashboard">Personal Tutor: @Model.PersonalTutor</p>
            </div>
        </div>
    </div>

    <div class="document-bio">
        <div class="document-info">
            <div class="document">
                <p class="text-dashboard">Recent upload document</p>
                <p>1</p>
            </div>
        </div>
    </div>

    <div class="blog-bio">
        <div class="blog-info">
            <div class="blog-name">
                <p class="text-dashboard text-bold">Student Blogs</p>
                @foreach (var blog in Model.StudentBlogs)
                {
                    <li>
                        <h5>You have received a new blog</h5>
                        <p><small>Posted on @blog.TimeStamp</small></p>
                    </li>
                }
            </div>
            <div class="blog-comment mt-6">
                <p class="text-dashboard text-bold">Recent Comments</p>
                @foreach (var comment in Model.RecentComments)
                {
                    <p>@comment</p>
                }
            </div>
        </div>
    </div>

    <div class="message-bio">
        <div class="message-info">
            <div class="message">
                <p class="text-dashboard text-bold">Recent Messages</p>
                @foreach (var message in Model.RecentMessages)
                {
                    <p>@message.TextContent</p>
                }

            </div>
        </div>
    </div>
</div>

<h4>Tutor Blogs</h4>
<ul>
    @foreach (var blog in Model.TutorBlogs)
    {
        <li>
            <h5>You have received a new blog</h5>
            <p><small>Posted on @blog.TimeStamp.ToString("g") by @blog.User.Name</small></p>
        </li>
    }
</ul>

<h4>Groups</h4>
<ul>
    @foreach (var group in Model.Groups)
    {
        <li>
            <h5>You have been assigned to a new group</h5>
            <p><small>Group ID: @group.Id</small></p>
        </li>
    }
</ul>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        const menuItems = document.querySelectorAll(".menu-item");

        menuItems.forEach(item => {
            if (item.getAttribute("data-name") === "dashboard") {
                item.classList.add("active");
            }
        });
    });
</script>

